mixin sidebar
  nav#sidebar
    div.sidebar-header
      h1 #{sidebarTitle}
      br
      p #{sidebarHeading}
    ul.list-unstyled.components
      li
        a(href="/") #{link1}
      li
        a.dropdown-toggle(href="#link2Submenu" data-toggle="collapse" aria-expanded="false") #{link2}
        ul#link2Submenu.collapse.list-unstyled
          li
            a(href="#") #{link2Sublink1}
          li
            a(href="#") #{link2Sublink2}
          li
            a(href="#") #{link2Sublink3}
          li
            a(href="#") #{link2Sublink4}
      li
        a(href="#") #{link3}
      li
        a(href="/createrule") #{link4}        
