mixin weather
  if typeof(error) != "undefined"
    div.container-fluid
      h6 There was an error retrieving data from the weather server.
  else
    div.container-fluid
      h6 As of #{weatherdata.current.observationtime}, it is #{weatherdata.current.temperature}&#176;#{weatherdata.location.degreetype} in #{weatherdata.location.name} with a humidity of #{weatherdata.current.humidity}% and a wind heading of #{weatherdata.current.winddisplay}.
      br      
      table#weather
        tr
          th #[u Date]
          th #[u Forecast]
          th #[u High]
          th #[u Low]
          th #[u Precipitation]
        each val in weatherdata.forecast
          tr
            td= val.day
            td= val.skytextday
            td= val.high + "\xB0" + weatherdata.location.degreetype
            td= val.low + "\xB0" + weatherdata.location.degreetype
            if (val.precip == "")
              td= val.precip + "0%"
            else
              td= val.precip + "%"
        
        
    
